.wrapper{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
}
.profileImage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background: #fff;
    padding: 30px 20px;
}
.wrapper img{
    display: block;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    width: 125px;
    height: 125px;
    margin: 10px auto 25px;
    border-radius: 125px;
}
.wrapper span{
    width: 100%;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    font-family: Roboto,sans-serif;
    font-size: 32px;
    background: #fff;
    margin-bottom: 10px;
    font-weight: 700;
    text-align: center;
    line-height: 1.3em;
    margin-bottom: 10px;
    color: #333;
}

